@mixin mobile {
    @media (max-width: 450px) {
        @content;
    }
}

.contactPage {
    height: 100vh;
    background-color: black;
    color: #F2F7FF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    .main-container{
        display: flex;
        flex-direction: row;
        gap: 10rem;
        flex: 1;
        padding-bottom: 50px;
        @include mobile {
            flex-direction: column;
            gap: 1rem;
            margin-left: 1rem;
            padding-bottom: 10px;
        }

        .contact-container{
            margin-left: 10rem ;
            @include mobile {
                margin-left: 0rem;
            }

            .info{
                display: flex;
                flex-direction: column;
                gap: 3rem;
                @include mobile {
                    gap: 1rem;
                }

                .box{
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;

                    .infoText{
                        display: flex;
                        flex-direction: column;
                        
                        h2{
                            margin: 0;
                            @include mobile {
                                font-size: 1rem;
                            }
                        }
                        p{
                            margin: 0;
                            @include mobile {
                                font-size: 0.75rem;
                            }
                        }
                    }
                }
            }
        }
        .messgage-container{
            position: relative;

            .phoneSvg{
                stroke: #1C6DD0;
                position: absolute;
                margin-left: 100px;
                pointer-events: none;
                // z-index: -5;
                @include mobile {
                    margin-left: 1rem;
                }
            }
            .form{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                @include mobile {
                    margin-top: 1rem;
                    gap: 10px;
                }
                div{
                    display: flex;
                    flex-direction: row;
                    gap: 2rem;
                    @include mobile {
                        flex-direction: column;
                        gap: 10px;
                    }
                    input{
                        width: 21rem;
                        padding: 15px;
                        border: 1px solid #F2F7FF;
                        border-radius: 4px;
                        @include mobile {
                            width: calc(90vw);
                            padding: 8px 5px;
                        }
                    }
                }
                input {
                    width: 44rem;
                    padding: 15px;
                    border: 1px solid #F2F7FF;
                    border-radius: 4px;
                    @include mobile {
                        width:calc(90vw);
                        padding: 5px;
                    }
                }
                textarea{
                    width: 44rem;
                    padding: 15px;
                    border: 1px solid #F2F7FF;
                    border-radius: 4px;
                    @include mobile {
                        width: calc(90vw);
                        padding: 5px;
                    }
                }
                button{
                    font-size: 1.2rem;
                    width: 13rem;
                    padding:.7rem 2rem ;
                    color: #F2F7FF;
                    border: 1px solid #1C6DD0;
                    background-color: #1C6DD0;
                    border-radius: 5px;
                    font-size: 1rem;
                    @include mobile {
                        margin: auto;
                        border-radius: 50px;
                    }
                }
                button:hover{
                    border: 3px solid rgba(255, 255, 255, 0.533);
                    background-color: #1C6DD0(255, 255, 255, 0.522);
                    color: #F2F7FF;
                }
            }
        }
    }

    .footer{
        background-color: #323643;
        color: #F2F7FF;
        text-align: center;
        padding: 20px;
        @include mobile {
            padding: 5px;
        }
        
        .footer div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            @include mobile {
                margin-bottom: 0;
            }
        }
    
        .footer p {
            margin: 0;
        }
    }
}

