@mixin mobile {
    @media (max-width: 450px) {
        @content;
    }
}

.title {
    text-align: center;
    position: relative;
    h1 {
        font-size: 2.8rem;
        padding: 2rem 0 1rem 0;
        margin-bottom: 3rem;
        text-transform: uppercase;
        @include mobile {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
    }
    h1::before {
        content: "";
        position: absolute;
        display: block;
        margin-bottom: 2px;
        width: 150px;
        height: 2px;
        background: #ddd;
        bottom: 1px;
        left: calc(50% - 75px);
    }
        h1::after {
        content: "";
        position: absolute;
        display: block;
        width: 40px;
        height: 7px;
        background: #1C6DD0;
        bottom: 0;
        left: calc(50% - 20px);
    }

        // h2 {
        //     font-size: 1.5rem;
        //     margin: 0 0 3rem 0;
        //     display: flex;
        //     align-items: center;
        //     text-align: center;
        //     justify-content: center;
        // }

        // h2::before,
        // h2::after {
        //     content: "";
        //     flex: 1;
        //     /* Distribute available space equally between ::before and ::after */
        //     height: 7.5px;
        //     /* Line thickness */
        //     background-color: #fff;
        //     margin: 8px;
        //     max-width: 2rem;
        // }
}



