.aboutPage {
    height: 100vh;
    background-color: rgb(12, 11, 13);
    color: #F2F7FF;

    .aboutPage-container{
        margin-left: 12rem;
        margin-top: 5rem;
        display: flex;
        flex-direction: row;
        gap: 9rem;
        .profilePhoto-container img{
            width: 20rem;
            height: 22.5rem;
            border-radius: 3px;
        }
        .description-container{
            display: flex;
            flex-direction: column;

            h2{
                font-size: 2rem;
                padding-bottom: 10px;
            }
            p{
                padding-right: 15rem;
                font-size: 1.2rem;
                text-align: justify;
                
            }
            a{
                font-size: 1.2rem;
                font-weight: 900;
                margin-top: 2rem;
                padding: .5rem 2rem;
                border: 2px solid #1C6DD0;
                background-color: #1C6DD0;
                border-radius: 5px;
                width: fit-content;
                text-decoration: none;
                color: inherit;
            }
            a:hover{
                border: 3px solid rgba(255, 255, 255, 0.533);
                background-color: #1C6DD0(255, 255, 255, 0.522);
                color: #F2F7FF;
            }
        }
    }
}